@import "tailwindcss";


h1, h2, h3, h4, h5, h6 {
  font-family: 'JetBrains Mono', monospace;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

p {
  font-family: 'JetBrains Mono', monospace;
  font-size: 1rem;
  margin-bottom: 1rem;
}

a {
  font-family: 'JetBrains Mono', monospace;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(31, 41, 55, 0.5); 
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(99, 102, 241, 0.5); 
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(99, 102, 241, 0.8); 
}